<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<false/>
	<key>Label</key>
	<string>fr.aphecetche.mu</string>
	<key>ProgramArguments</key>
	<array>
        <string>/Users/laurent/dotfiles/bin/musearches.sh</string>
	</array>
	<key>RunAtLoad</key>
	<false/>
    <key>StartInterval</key>
    <integer>120</integer>
	<key>StandardErrorPath</key>
	<string>/tmp/fr.aphecetche.mu.stderr</string>
	<key>StandardOutPath</key>
	<string>/tmp/fr.aphecetche.mu.stdout</string>
</dict>
</plist>
