<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<false/>
	<key>Label</key>
	<string>fr.aphecetche.mbsync.inbox-perso</string>
	<key>ProgramArguments</key>
	<array>
        <string>mbsync inbox-perso</string>
	</array>
	<key>RunAtLoad</key>
	<false/>
    <key>StartInterval</key>
    <integer>900</integer>
</dict>
</plist>
