<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Disabled</key>
	<false/>
	<key>KeepAlive</key>
	<false/>
	<key>Label</key>
	<string>fr.aphecetche.mbsync.noturgent-perso</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/laurent/dotfiles/bin/mailsync.sh</string>
		<string>noturgent-perso</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/tmp/fr.aphecetche.mbsync.noturgent-perso.stderr</string>
	<key>StandardOutPath</key>
	<string>/tmp/fr.aphecetche.mbsync.noturgent-perso.stdout</string>
	<key>StartInterval</key>
	<integer>1800</integer>
</dict>
</plist>
