[Unit]
Description=Backup analysis directory to host (Mac)

[Service]
Type=simple
ExecStart=/home/laurent/bin/rsync_to_host.sh /home/laurent/analysis

[Install]
WantedBy=default.target
